$primary-red: #bc150a;
$primary-green: #7fbf3f;

$primary-dark: #000630;
$secondary-dark: #313443;
$third-dark: #21232f;

$primary-light: #00aeff;
$secondary-light: #00aeff;
$third-light: #00aeff;
$fourth-light: #00aeff;

$primary-text: #f1f4f4;
